<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to PWA POC!
  </h1>
  <p *ngIf="pwaService.isPwaSupported() && (pwaService.isAppInstallable | async)">
    <button (click)="showAddHomePagePopup()">Install PWA!</button>
  </p>
</div>
<nav *ngIf="isIdentityConfigInitialized">
  <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
  <a routerLink="/faq" routerLinkActive="active">Faq</a>&nbsp;
  <a routerLink="/about-us" routerLinkActive="active">About Us</a>
</nav>
<router-outlet></router-outlet>